<?xml version="1.0" encoding="utf-8"?>
<!--
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.oldev.aBrightnessQS"
    android:versionCode="000601"
    android:versionName="0.6.1"
    tools:ignore="GradleOverrides">

    <!-- for writing display brightness settings -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- for autoboot service -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_brightness6_green"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BrightnessTileService"
            android:icon="@drawable/tile_brightness_black_50_24dp"
            android:label="@string/tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>

        <service
            android:name=".BrightnessTileUpdateService"
            android:label="@string/service_label"            
            >
        </service>

        <receiver android:name=".BootReceiver"
            android:label="@string/boot_receiver_label">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        
    </application>

</manifest>
